<div class="footer-container">
    <div class="footer-logo-container">
        <img class="footer-logo" src="images/royal-face-logo-white-text.png"/>
    </div>
    <div class="footer-inner-container">
        <div class="footer-column">
            <div class="footer-column-title">
                CONTATO
            </div>
            <div class="footer-column-line">
            </div>
            <div class="footer-div">
                <i class="fa-solid fa-envelope"></i>
                {{"exemplo@royalface.com.br"}}
            </div>
            <div class="footer-div">
                <i class="fa-brands fa-whatsapp"></i>
                {{"(13) 12345-6789"}}
            </div>
            <div class="footer-div">
                <i class="fa-solid fa-phone"></i>
                {{"(13) 12345-6789"}}
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-column-title">
                PROCEDIMENTOS
            </div>
            <div class="footer-column-line">
            </div>
            <div class="footer-div">
                Bioestimulador
            </div>
            <div class="footer-div">
                Botox
            </div>
            <div class="footer-div">
                Fios de Sustentação
            </div>
            <div class="footer-div">
                Peeling
            </div>
            <div class="footer-div">
                Radiofrequência Facial
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-column-title">
                SIGA NOSSAS REDES
            </div>
            <div class="footer-column-line">
            </div>
            <div class="footer-div">
                <i class="fa-brands fa-instagram"></i>
                Instagram
            </div>
            <div class="footer-div">
                <i class="fa-brands fa-youtube"></i>
                Youtube
            </div>
            <div class="footer-div">
                <i class="fa-brands fa-facebook"></i>
                Facebook
            </div>
        </div>
    </div>
</div>