.card-informativo{
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-informativo-inner{
    max-width: 900px;
    padding: 40px;

}